#cowCounter {
    background-color: blueviolet;
    color:            white;  
}
p {
    background-color: white;
    color: blueviolet;
}
#update {
    background-color :cyan;
    color: blueviolet;
}